.env
node_modules
project/coverage/clover.xml
project/coverage/coverage-final.json
project/coverage/lcov.info
project/coverage/lcov-report/auth_utils.js.html
project/coverage/lcov-report/base.css
project/coverage/lcov-report/block-navigation.js
project/coverage/lcov-report/DButils.js.html
project/coverage/lcov-report/favicon.png
project/coverage/lcov-report/index.html
project/coverage/lcov-report/prettify.css
project/coverage/lcov-report/prettify.js
project/coverage/lcov-report/referee_utils.js.html
project/coverage/lcov-report/sort-arrow-sprite.png
project/coverage/lcov-report/sorter.js
project/coverage/lcov-report/project/index.html
project/coverage/lcov-report/project/main.js.html
project/coverage/lcov-report/project/routes/auth.js.html
project/coverage/lcov-report/project/routes/index.html
project/coverage/lcov-report/project/routes/league.js.html
project/coverage/lcov-report/project/routes/players.js.html
project/coverage/lcov-report/project/routes/teams.js.html
project/coverage/lcov-report/project/routes/users.js.html
project/coverage/lcov-report/project/routes/utils/auth_utils.js.html
project/coverage/lcov-report/project/routes/utils/DButils.js.html
project/coverage/lcov-report/project/routes/utils/index.html
project/coverage/lcov-report/project/routes/utils/league_utils.js.html
project/coverage/lcov-report/project/routes/utils/matches_utils.js.html
project/coverage/lcov-report/project/routes/utils/players_utils.js.html
project/coverage/lcov-report/project/routes/utils/referee_utils.js.html
project/coverage/lcov-report/project/routes/utils/team_utils.js.html
project/coverage/lcov-report/project/routes/utils/users_utils.js.html
